
*{
    font-family: 'Open Sans Condensed', sans-serif;
}

#cont-header{
    background-color: rgb(255, 252, 245);
}

h1{
    font-size: 4rem;
    letter-spacing: 0.8rem;
}

#avatar{
    min-width: 100px !important;
}

#nav{
    font-size: 1.3rem;
}

.nav-link{
    transition: all 400ms;
}

.nav-link:hover{
    transform: scale(1.2);
    color: rgb(27, 27, 148);
}

.icon{
    width: 40%;
    min-width: 40px;
    max-width: 60px;
}

.language{
    font-weight: bold;
}


@media (max-width: 400px){
    h1{
        font-size: 10vw;
        letter-spacing: 0.6rem;
    }
}